################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CS447/bin
/packages
/CS447/obj/Debug
/CS447/obj/Release
