@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
        @Html.AntiForgeryToken()
        <ul class="cart-inner-info">
            <li class="button-log">
                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                @Html.ActionLink("Quản lí tài khoản", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li class="button-log">
                <a class="fa fa-sign-out-alt" href="javascript:document.getElementById('logoutForm').submit()"></a>
            </li>
        </ul>
    }
}
else
{
    <ul class="cart-inner-info">
        <li class="button-log">
            <a class="btn-open" href="#">@Html.ActionLink("Đăng kí", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a>
        </li>
        <li class="button-log">
            <a href="#">
                @Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </a>
        </li>
    </ul>
}
